
.react-responsive-modal-root{
    z-index: 99999;
}
.edit-modal-body{
    border-radius: 5px;
    top:0;
    max-width: 100%;
    z-index: 9999;
}
.react-responsive-modal-modal{


}

.modal-main-div{
    width:400px
}